<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/snowFlakes/snow.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/snow.min.css" rel="stylesheet">
    <title>Вход</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script>
    <script>new Snow();</script>
    <script src="/snowFlakes/Snow.js"></script>
    <script>
        new Snow({
            showSnowBalls: true,
            showSnowBallsIsMobile: false,
            showSnowflakes: true,
            countSnowflake: 300,
            snowBallsLength: 10,
            snowBallIterations: 40,
            snowBallupNum: 1,
            snowBallIterationsInterval: 1000,
            clearSnowBalls: 200,
        });
    </script>
    <div class="container">
        <h1>Вход</h1>
        <form id="loginForm" action="/jornal/login" method="post">
            <input type="email" id="email" name="email" required placeholder="Введите email">
            <div class="password">
                <input type="password" id="password-input" name="password" placeholder="Пароль">
                <a href="#" class="password-control"></a>
            </div>
            <button type="submit">Вход</button>
        </form>
        <a href="/jornal/registration" class="button">Регистрация</a>
    </div>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('body').on('click', '.password-control', function() {
            if ($('#password-input').attr('type') == 'password') {
                $(this).addClass('view');
                $('#password-input').attr('type', 'text');
            } else {
                $(this).removeClass('view');
                $('#password-input').attr('type', 'password');
            }
            return false;
        });
        const form = document.getElementById('loginForm');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
          const formData = new FormData(this);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });
        fetch('/jornal/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                window.location.href = '/jornal/main_page';
            } else {
                alert('Неверная почта или пароль');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Произошла ошибка');
        });
    });
    </script>
</body>
</html>